:root {
    --font-sans-serif: 'Questrial', sans-serif;

}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: auto;
}

p {
    font-family: 'Cabin', sans-serif;
    color: grey;
    font-size: 12pt;
    text-align: center;
    padding-right: 3rem
    ;
}

.body-title{
    text-transform: uppercase;
    color: #b4b941;
    font-size: 13pt;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    letter-spacing: 2px;
}

.body-copy {
    margin-right: 17rem;
  margin-left: 17rem;
  line-height: 22px;
}