:root {
    --font-sans-serif: 'Questrial', sans-serif;
    --green: #b4b941;
    --grey: #474647;
    --orange: #e38d3b;
    --teal: #53929a;
    --maroon: #723929;

}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: auto;
}

p {
    font-family: 'Cabin', sans-serif;
    color: grey;
    font-size: 12pt;
    text-align: center;
    padding-right: 3rem
    ;
}

.body-title{
    text-transform: uppercase;
    color: #b4b941;
    font-size: 13pt;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    letter-spacing: 2px;
}

.body-copy {
    margin-right: 17rem;
  margin-left: 17rem;
  line-height: 22px;
}


ul {
    list-style-type: none;
}

.ol-items {
    color: var(--green);
    font-family: 'Cabin Semi Bold', sans-serif;
}

.top-nav-items {
  display: inline-block;
  color: grey;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  text-transform: uppercase;
  margin: auto;
  font-family: 'Cabin', sans-serif;
  font-size: 12px;
}

.top-nav {
    display: table;  
	margin: 0 auto;
}

img {
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

hr {
    display: block;
   max-width: 1200px;
    border-style: inset;
    border-width: 1px;
  }

  h1,
  h2 {
      color: var(--green);
      margin: auto;
      text-align: center;
  }

  h1{
    font-family: 'Cabin', sans-serif;
  }

  h2 {
      font-size: 14pt;
  }

  .top-body {
    text-align: justify;
    margin-right: 17rem;
  margin-left: 17rem;
  line-height: 22px;
  }