<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Components | Mother Earth Gardens</title>
<link rel="styleshee" href="../css/mainn.css">
<link type="text/css" rel="stylesheet" href="normalize.css" />
    </head>
    <body>
<h1>Web Components Goes Here Eventually</h1>
<h2>Typography Defaults</h2>

<article class="component">
    <h3 class="component__name">body</h3>
<img src="../images/body.jpg" 
srcset="../images/body.jpg 2x"
alt="body">
</article>

<div class="component__code">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum </p>
</div>
    </body>
</html>