<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Components | Mother Earth Gardens</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../css/main.css">
<link type="text/css" rel="stylesheet" href="normalize.css" />
    </head>
    <body>
<h1>Web Components Goes Here Eventually</h1>
<h2>Typography Defaults</h2>

<article class="component">
    <h3 class="component__name">body</h3>
<img src="../images/body.png" 
srcset="../images/body.png 2x"
alt="body">
</article>

<div class="component__code">
    <div class="body-copy">
    <h2 class="body-title">Mother Earth Gardens</h2>

    <p>Welcome to Mother Earth Gardens, a garden center that specializes in organic gardening, sustainably grown plants, and eco-friendly products. </p>

       <p>Open year round, we have different specialties for each season. Throughout the spring and summer, we sell organic seeds, vegetables, and herbs as well as sustainably grown annuals and perennials. We feature the largest selection of native plants of any retail garden center in the Twin Cities.</p>
        
        <p>During autumn, we sell a unique variety of locally grown gourds and pumpkins, along with locally grown branches and bunches, interesting flowering bulbs and numerous varieties of garlic for fall planting.</p>
        
        <p>In the winter, we offer herbicide free Christmas trees, handmade swags, wreaths and centerpieces. We also sell unique gifts including locally made ceramics and jewelry. </p>
        
        <p>Opening back up in mid January, we hit the ground running with an evolving variety of houseplants, succulents and creatively imagined containers to plant them in. Check our hours below and plan a visit! </p>
</div>
</div>
    </body>
</html>